*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #030303 , #a200ff);
   
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}

nav button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 30px;
    font-weight: 700;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-wrap{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: auto;
    padding: 20px;
    background-color: white;
    margin-top: 3rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(4,120px);
    grid-template-rows:minmax(120px,auto)repeat(7,80px);
}

.calculator-wrap button{
    cursor: pointer;
    font-size: 1rem;
    border: none;
    background-color: rgb(201, 198, 198);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0px auto;
}

/* Button transforming to small while clicking*/
.calculator-wrap button:active{
    transform: scale(0.95);
}
.calculator-wrap button:focus{
    /* border: 2px solid #a200ff; */
    background-color: orange !important;
}

.btn-secondary{
    background-color: #dbbaee !important;
    color: #a200ff;
    font-weight: 900;
}

.btn-result{
    background-color: #a200ff !important;
    color: white;
    font-weight: 900;
}

.btn-result:hover{
    background-color: rgb(153, 232, 153)!important;
    border: none !important;

}

.calculator-wrap button:hover{
    background-color: white;
    border: 1px solid #a200ff;
}

.operation-sec{
    grid-column: 1 / -1;
    background-color: rgba(0,0,0, .90);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
}

.operation-sec .top-operand{
    color: rgba(255,255,255, .70);
    font-size: 1rem;
}

.operation-sec .current-operand{
    color: white;
    font-size: 2rem;
}


/* dark mode */

.calculator-wrap.dark{
    background-color: black;
}

.btn-primary.dark{
    background-color: rgb(27, 27, 27);
    color: white;
}

.calculator-wrap.dark button:hover{
    background-color: #2c2c2c;
    border: none;
}
.calculator-wrap.dark .btn-secondary:hover{
    background-color: #ca89f0 !important;
}

.calculator-wrap.dark .operation-sec{
    background-color: rgba(29, 28, 28, 0.5);
}